libxml/schemas/baseTypes-v2-5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Companies House XML Gateway Schema - Base Types-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlgw.companieshouse.gov.uk" targetNamespace="http://xmlgw.companieshouse.gov.uk" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.5" id="baseTypes">
	<xs:include schemaLocation="vocabularies/iso3currency_all.xsd"/>
	<xs:include schemaLocation="vocabularies/iso3currency_current.xsd"/>
	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="companyNameString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-,.:; 0-9A-Z&#x26;@$&#xA3;&#xA5;&#x20AC;&#x27;&#x22;&#xAB;&#xBB;&#x2018;&#x2019;&#x201C;&#x201D;?!/\\()\[\]{}&#x3C;&#x3E;]{3}[-,.:; 0-9A-Z&#x26;@$&#xA3;&#xA5;&#x20AC;&#x27;&#x22;&#xAB;&#xBB;&#x2018;&#x2019;&#x201C;&#x201D;?!/\\()\[\]{}&#x3C;&#x3E;*=#%+]{0,157}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyCompanyNameString">
		<xs:restriction base="companyNameString">
			<xs:minLength value="1"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameAddressString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-,.:; 0-9A-Z&#x26;@$&#xA3;&#xA5;&#x20AC;&#x27;&#x22;&#xAB;&#xBB;&#x2018;&#x2019;&#x201C;&#x201D;?!/\\()\[\]{}&#x3C;&#x3E;*=#%+a-z&#xC0;-&#xD6;&#xD8;-&#x17F;&#x192;&#x1FA;-&#x1FF;&#x1E80;-&#x1E85;&#x1EF2;&#x1EF3;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyNameAddressString">
		<xs:restriction base="nameAddressString">
			<xs:minLength value="1"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="otherDataString">
		<xs:restriction base="xs:string">
			<xs:pattern value="[-,.:; 0-9A-Z&#x26;@$&#xA3;&#xA5;&#x20AC;&#x27;&#x22;&#xAB;&#xBB;&#x2018;&#x2019;&#x201C;&#x201D;?!/\\()\[\]{}&#x3C;&#x3E;*=#%+a-z&#xE0;-&#xE2;&#xE4;&#xE8;-&#xEF;&#xF2;-&#xF4;&#xF6;&#xF9;-&#xFC;&#xC0;-&#xC2;&#xC4;&#xC8;-&#xCF;&#xD2;-&#xD4;&#xD6;&#xD9;-&#xDC;&#x174;-&#x177;]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nonEmptyOtherDataString">
		<xs:restriction base="otherDataString">
			<xs:minLength value="1"/>
			<xs:pattern value="\S+.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positiveDecimal">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:element name="CompanyName">
		<xs:annotation>
			<xs:documentation>The Registered Company Name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyNumber" type="xs:integer">
		<xs:annotation>
			<xs:documentation>The company registration number</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PartialCompanyNumber">
		<xs:annotation>
			<xs:documentation>Company Number used for number searching</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="8"/>
				<xs:whiteSpace value="collapse"/>
				<xs:pattern value="[A-Z0-9]{1,8}[*]{0,1}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MortgageInd">
		<xs:annotation>
			<xs:documentation>Gives Mortgage Register Indication</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="5"/>
				<xs:whiteSpace value="collapse"/>
				<xs:enumeration value="NO">
					<xs:annotation>
						<xs:documentation>No charges registered</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="LT300">
					<xs:annotation>
						<xs:documentation>Less than 300 charges registered</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="GE300">
					<xs:annotation>
						<xs:documentation>300 or more charges registered</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddressLine">
		<xs:annotation>
			<xs:documentation>A Single Address Line</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegAddress" type="RegAddressType">
		<xs:annotation>
			<xs:documentation>Company Registered Address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RegAddressType">
		<xs:annotation>
			<xs:documentation>Registered address with up to 4 address lines</xs:documentation>
		</xs:annotation>
		<xs:sequence maxOccurs="4">
			<xs:element ref="AddressLine"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SICText">
		<xs:annotation>
			<xs:documentation>Single SIC code Text String</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nonEmptyOtherDataString">
				<xs:minLength value="1"/>
				<xs:maxLength value="120"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SICCode" type="xs:integer"/>
	<xs:element name="SICCodes" type="SICCodesType">
		<xs:annotation>
			<xs:documentation>Set of Sec Codes</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SICCodesType">
		<xs:annotation>
			<xs:documentation>Sic Codes or text</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element ref="SICCode" minOccurs="0" maxOccurs="4"/>
			<xs:element ref="SICText"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="CompanyStatus">
		<xs:simpleType>
			<xs:restriction base="otherDataString">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DissolutionDate">
		<xs:annotation>
			<xs:documentation>Date of Dissolution of Company</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClosureDate">
		<xs:annotation>
			<xs:documentation>Date of Closure of Company</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncorporationDate">
		<xs:annotation>
			<xs:documentation>Date of Incorporation of Company</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegistrationDate">
		<xs:annotation>
			<xs:documentation>Date of Registration of Company/charge/person</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CONDate">
		<xs:annotation>
			<xs:documentation>Date of last Change of Name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PreviousNames" type="CoPreviousNamesType">
		<xs:annotation>
			<xs:documentation>Set of Previous Names for Company</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CoPreviousNamesType">
		<xs:annotation>
			<xs:documentation>Set of previous names and dates changed</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CONDate"/>
			<xs:element ref="CompanyName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NextDueDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Overdue">
		<xs:annotation>
			<xs:documentation>Overdue Indication</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NO">
					<xs:annotation>
						<xs:documentation>Document not overdue</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="OVERDUE">
					<xs:annotation>
						<xs:documentation>Document is overdue</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="PENDING">
					<xs:annotation>
						<xs:documentation>Document is pending</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AccountCategory" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Type of Accounts</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AccountRefDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Accounting Reference Date (DD-MM significant)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LastMadeUpDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocumentAvailable" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates that the document is available for access</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LastFullMemDate">
		<xs:annotation>
			<xs:documentation>Date on which a company last supplied a Full Members List</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LastBulkShareDate">
		<xs:annotation>
			<xs:documentation>Date last Bulk Shareholders List was supplied</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountryOfOrigin">
		<xs:simpleType>
			<xs:restriction base="otherDataString">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumGenPartners" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of General Partners (LP)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumLimPartners" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of Limited Partners (LP)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Weeded" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Whether fiche has been weeded</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HasUKEstablishment" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Whether UK establishment Information is available</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WeededDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Fiche Weeded Date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumMortCharges" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of charges recorded against company</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumMortOutstanding" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of outstanding Mortgage Charges</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumMortSatisfied" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number Satisfied Mort Charges</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumMortPartSatisfied" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number Part Satisfied Mort Charges</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HasAppointments" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates Appointment Information is available</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InLiquidation" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates Company in Liquidation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GiveMortTotals" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Requests the return of mortgage totals</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataSet">
		<xs:annotation>
			<xs:documentation>The dataset to which a company belongs (live,dissolved etc)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="LIVE">
					<xs:annotation>
						<xs:documentation>Index of Live and Recently Dissolved Companies</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="DISSOLVED">
					<xs:annotation>
						<xs:documentation>Index of Dissolved companies</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="FORMER">
					<xs:annotation>
						<xs:documentation>Index of Previous or Former company names</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="PROPOSED">
					<xs:annotation>
						<xs:documentation>Index of Proposed company names</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date associated with company</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CompanyIndexStatus">
		<xs:annotation>
			<xs:documentation>Gives the status of the company as reflected on the index</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:enumeration value="EFFECTIVE">
					<xs:annotation>
						<xs:documentation>Proposed Company Name is Effective</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="REJECTED">
					<xs:annotation>
						<xs:documentation>Proposed Comapny Name has been Rejected</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="DISSOLVED">
					<xs:annotation>
						<xs:documentation>Company has been Dissolved</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="CNGOFNAME">
					<xs:annotation>
						<xs:documentation>This is a company Change of Name</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="INLIQ">
					<xs:annotation>
						<xs:documentation>Company is in Liquidation</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="REMOVED">
					<xs:annotation>
						<xs:documentation>Company has been removed</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="STATUSR"/>
				<xs:enumeration value="STATUSA"/>
				<xs:enumeration value="STATUSV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SearchMatch">
		<xs:annotation>
			<xs:documentation>Gives the search match status of a company</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="NEAR">
					<xs:annotation>
						<xs:documentation>This Company Name is the nearest search match as an exact match could not be found</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="EXACT">
					<xs:annotation>
						<xs:documentation>This company Name is an exact match for the given seach</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SearchRows" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Numer of rows to return/returned  in a search response</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ContinuationKey" type="xs:string">
		<xs:annotation>
			<xs:documentation>The continuation key allowing further data sets to be retrieved</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegressionKey" type="xs:string">
		<xs:annotation>
			<xs:documentation>The key allowing previous data sets to be returned</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentCategory">
		<xs:annotation>
			<xs:documentation>Document Category Code</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FormType" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Document Form Type</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentType" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Document Type, appliction specific</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentDesc" type="otherDataString"/>
	<xs:element name="DocumentDate" type="xs:date"/>
	<xs:element name="DocBeingScanned" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates that the document is not yet available for download</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ImageKey" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique key of this document on the Image System - returned from a filing history</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CapitalDocInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates whether capital documents are required in result</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UserReference">
		<xs:annotation>
			<xs:documentation>User supplied reference</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="otherDataString">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AppointmentStatus">
		<xs:annotation>
			<xs:documentation>Type of appintment (current/resigned)</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CURRENT">
					<xs:annotation>
						<xs:documentation>The appointment is Current</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="RESIGNED">
					<xs:annotation>
						<xs:documentation>This is a resigned appointment</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AppointmentType">
		<xs:annotation>
			<xs:documentation>Class of appointment. (dir, sec etc).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DIR">
					<xs:annotation>
						<xs:documentation>This appointment is for a Director</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="SEC">
					<xs:annotation>
						<xs:documentation>This appointment is for a Secretary</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="NOMDIR">
					<xs:annotation>
						<xs:documentation>This appointment is for a Nominated Director</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="NOMSEC">
					<xs:annotation>
						<xs:documentation>This appointment is for a Nominated Secretary</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="DIRSEC">
					<xs:annotation>
						<xs:documentation>This appointment is both a Director and a Secretary</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="DESMEM">
					<xs:annotation>
						<xs:documentation>This appointment is a Designated Member</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="MEMBER">
					<xs:annotation>
						<xs:documentation>This appointment is a Member</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumCurrentAppt">
		<xs:annotation>
			<xs:documentation>The number of current appointments for company/person</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumResignedAppt">
		<xs:annotation>
			<xs:documentation>The number of resigned appointments for company/person</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumDissolvedAppt">
		<xs:annotation>
			<xs:documentation>The number of dissolved appointments</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumAppointments">
		<xs:annotation>
			<xs:documentation>Total number of personal appointments</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Surname">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Forename">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OtherForenames">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Title">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostTown">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PoBox">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="County">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Postcode">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PostCode">
		<xs:annotation>
			<xs:documentation>Deprecated</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nameAddressString"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nationality">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PersonID" type="xs:string">
		<xs:annotation>
			<xs:documentation>Unique identifier for Person (Private Database key. May be used in subsequent data requests)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DOB" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date of Birth</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AppointmentDate" type="xs:date"/>
	<xs:element name="ResignationDate" type="xs:date"/>
	<xs:element name="ApptDatePrefix">
		<xs:annotation>
			<xs:documentation>Appointment Date Prefix.  Used if the original data capture by Companies House took place during 1991/1992, taking the appointment date from the latest Annual Return.</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="PRE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServiceAddressInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates that this is a service address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CoSearchItem" type="CoSearchCPLXType">
		<xs:annotation>
			<xs:documentation>Single company search result row</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="CoSearchCPLXType">
		<xs:annotation>
			<xs:documentation>Company Search result Cplx type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CompanyName"/>
			<xs:element ref="CompanyNumber"/>
			<xs:element ref="DataSet"/>
			<xs:element ref="CompanyIndexStatus" minOccurs="0"/>
			<xs:element ref="CompanyDate" minOccurs="0"/>
			<xs:element ref="SearchMatch" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StartDate" type="xs:date"/>
	<xs:element name="EndDate" type="xs:date"/>
	<xs:element name="SatisfiedChargesInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates whether satisfied charges are required</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChargeNumber" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Unique Charge Identified (Private Database reference - used in susequent requests)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Description" type="otherDataString"/>
	<xs:element name="CreationDate" type="xs:date"/>
	<xs:element name="AlterationToChgInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Alteration to charge indicator</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonEntChgName" type="nameAddressString">
		<xs:annotation>
			<xs:documentation>Person entitled to charge Name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SatisfiedDate" type="xs:date">
		<xs:annotation>
			<xs:documentation>Satisfication Date</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ChargeSatisfied">
		<xs:annotation>
			<xs:documentation>Charge Satisfied Indicator</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="OUTSTANDING"/>
				<xs:enumeration value="SATISFIED"/>
				<xs:enumeration value="PARTSATISFIED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DetailsOnFicheInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Additional details available on Fiche indicator</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReceiverAptdInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Receiver Appointed Indicator</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShortParticularsDesc" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Short particulars of charge</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IncludeResignedInd" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates whether resigned appointments should be returned</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MadeUpDate" type="xs:date"/>
	<xs:element name="Media">
		<xs:annotation>
			<xs:documentation>Image storage media</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ARCHIVE"/>
				<xs:enumeration value="JUKEBOX"/>
				<xs:enumeration value="CACHE"/>
				<xs:enumeration value="UNAVAILABLE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OfficerType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CUR"/>
				<xs:enumeration value="LLP"/>
				<xs:enumeration value="DIS"/>
				<xs:enumeration value="EUR"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumPages" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of pages in document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NumDisqualOrders" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Number of disqualified orders</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocRequestKey" type="xs:string">
		<xs:annotation>
			<xs:documentation>A Unique key referencing document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentName" type="otherDataString">
		<xs:annotation>
			<xs:documentation>The name of the document as delivered to the image repository server</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Occupation">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumAppInd">
		<xs:annotation>
			<xs:documentation>Indicates that the number of appointments is greater than the returned value</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="GE1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OfficerSearchItem">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Details of an officer search result</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element ref="Title"/>
				<xs:element ref="Surname"/>
				<xs:element ref="DOB"/>
				<xs:element ref="PostTown"/>
				<xs:element ref="PostCode"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="PersonID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PersonType">
		<xs:sequence>
			<xs:element ref="Title" minOccurs="0"/>
			<xs:element ref="Surname"/>
			<xs:element ref="Forename" minOccurs="0"/>
			<xs:element ref="OtherForenames" minOccurs="0"/>
			<xs:element ref="DOB" minOccurs="0"/>
			<xs:element ref="Nationality" minOccurs="0"/>
			<xs:element ref="PersonID" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonBaseType">
		<xs:sequence>
			<xs:element ref="Title" minOccurs="0"/>
			<xs:element ref="Forename" minOccurs="0"/>
			<xs:element ref="OtherForenames" minOccurs="0"/>
			<xs:element ref="Surname"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element ref="Forename"/>
			<xs:element ref="Surname"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PreviousNameType">
		<xs:sequence>
			<xs:element ref="Forename" minOccurs="0"/>
			<xs:element ref="OtherForenames" minOccurs="0"/>
			<xs:element name="Surname">
				<xs:simpleType>
					<xs:restriction base="nonEmptyString">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameType">
		<xs:sequence>
			<xs:element ref="Forename" minOccurs="0"/>
			<xs:element name="Surname" type="nonEmptyNameAddressString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressTypeX"/>
	<xs:complexType name="CompanyAddressType">
		<xs:complexContent>
			<xs:extension base="AddressBaseType">
				<xs:sequence>
					<xs:element ref="CareofName" minOccurs="0"/>
					<xs:element ref="PoBox" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ShareholderAddressType">
		<xs:complexContent>
			<xs:extension base="AddressBaseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DirectorAddressType"/>
	<xs:complexType name="AnyAddressBaseType">
		<xs:sequence>
			<xs:element ref="Premise"/>
			<xs:element ref="Street"/>
			<xs:element ref="Thoroughfare" minOccurs="0"/>
			<xs:element ref="PostTown"/>
			<xs:element ref="County" minOccurs="0"/>
			<xs:element ref="Country"/>
			<xs:element ref="Postcode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressBaseType">
		<xs:sequence>
			<xs:element ref="Premise"/>
			<xs:element ref="Street" minOccurs="0"/>
			<xs:element ref="Thoroughfare" minOccurs="0"/>
			<xs:element ref="PostTown"/>
			<xs:element ref="County" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Country">
					<xs:annotation>
						<xs:documentation>ISO 3 letter country code.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="USA"/>
							<xs:enumeration value="IRL"/>
							<xs:enumeration value="DEU"/>
							<xs:enumeration value="FRA"/>
							<xs:enumeration value="ITA"/>
							<xs:enumeration value="ESP"/>
							<xs:enumeration value="PRT"/>
							<xs:enumeration value="NLD"/>
							<xs:enumeration value="POL"/>
							<xs:enumeration value="BEL"/>
							<xs:enumeration value="NOR"/>
							<xs:enumeration value="SWE"/>
							<xs:enumeration value="DNK"/>
							<xs:enumeration value="AUS"/>
							<xs:enumeration value="NZL"/>
							<xs:enumeration value="CAN"/>
							<xs:enumeration value="ZAF"/>
							<xs:enumeration value="AUT"/>
							<xs:enumeration value="HRV"/>
							<xs:enumeration value="CYP"/>
							<xs:enumeration value="CZE"/>
							<xs:enumeration value="EST"/>
							<xs:enumeration value="HUN"/>
							<xs:enumeration value="GRC"/>
							<xs:enumeration value="LTU"/>
							<xs:enumeration value="GBR"/>
							<xs:enumeration value="GB-ENG"/>
							<xs:enumeration value="GB-WLS"/>
							<xs:enumeration value="GB-SCT"/>
							<xs:enumeration value="GB-NIR"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="OtherForeignCountry">
					<xs:annotation>
						<xs:documentation>Free form text name of any other foreign country, may be blank if no country is specified</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="nameAddressString">
							<xs:maxLength value="50"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element ref="Postcode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UKAddressType">
		<xs:sequence>
			<xs:element ref="Premise"/>
			<xs:element ref="Street" minOccurs="0"/>
			<xs:element ref="Thoroughfare" minOccurs="0"/>
			<xs:element ref="PostTown"/>
			<xs:element ref="County" minOccurs="0"/>
			<xs:element name="Country">
				<xs:annotation>
					<xs:documentation>UK country code.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GB-ENG"/>
						<xs:enumeration value="GB-WLS"/>
						<xs:enumeration value="GB-SCT"/>
						<xs:enumeration value="GB-NIR"/>
						<xs:enumeration value="GBR"/>
						<xs:enumeration value="UNDEF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Postcode" minOccurs="0"/>
			<xs:element ref="CareofName" minOccurs="0"/>
			<xs:element ref="PoBox" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OfficerAppointmentType">
		<xs:sequence>
			<xs:element name="Appointee">
				<xs:annotation>
					<xs:documentation>Type of Appointee</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="Individual">
							<xs:annotation>
								<xs:documentation>A single Person</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Person" type="PersonType"/>
									<xs:element name="PreviousName" type="NameType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element ref="CorporateName"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="Address" type="DirectorAddressType">
				<xs:annotation>
					<xs:documentation>Officer Address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CorporateIndicator" type="xs:boolean"/>
	<xs:complexType name="CompanyIdentifierType">
		<xs:sequence>
			<xs:element ref="CompanyNumber"/>
			<xs:element ref="CompanyName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Currency">
		<xs:annotation>
			<xs:documentation>Use codes according to ISO 4217</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="PersonChangeType">
		<xs:sequence>
			<xs:element ref="Title" minOccurs="0"/>
			<xs:element ref="Surname"/>
			<xs:element ref="Forename" minOccurs="0"/>
			<xs:element ref="OtherForenames" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NominalCapital">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="19"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumShares">
		<xs:annotation>
			<xs:documentation>Used to indicate the number of shares</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger">
				<xs:totalDigits value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShareValue">
		<xs:annotation>
			<xs:documentation>Maximum of 6 decimal places</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="positiveDecimal">
				<xs:fractionDigits value="6"/>
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="PersonalAttributeType">
		<xs:sequence>
			<xs:element name="PersonalAttribute">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="BIRTOWN"/>
						<xs:enumeration value="TEL"/>
						<xs:enumeration value="NATINS"/>
						<xs:enumeration value="PASSNO"/>
						<xs:enumeration value="MUM"/>
						<xs:enumeration value="EYE"/>
						<xs:enumeration value="DAD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PersonalData">
				<xs:simpleType>
					<xs:restriction base="nonEmptyOtherDataString">
						<xs:minLength value="3"/>
						<xs:maxLength value="3"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonalAuthentication" type="PersonalAttributeType">
		<xs:annotation>
			<xs:documentation>Officers personal authentication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonalAuthenticationData" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Values supplied for the personal authentication items</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonalAuthenitcationItem" type="otherDataString">
		<xs:annotation>
			<xs:documentation>Indicates type of personal authentication item supplied</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PersonalAuthenticationCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="6"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="IssuedShareType">
		<xs:complexContent>
			<xs:extension base="ShareQuantityClassType">
				<xs:sequence>
					<xs:element ref="AggregrateNominalValue"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ShareClass">
		<xs:annotation>
			<xs:documentation>Type of Share</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nonEmptyOtherDataString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ShareQuantityValueType">
		<xs:sequence>
			<xs:element ref="NumShares"/>
			<xs:element ref="Currency"/>
			<xs:element ref="ShareValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NumSharesIssued" type="xs:integer"/>
	<xs:element name="AggregrateNominalValue" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Indicates the aggregate nominal value (Numshares x ShareValue)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AmalgamatedNameType">
		<xs:sequence>
			<xs:element ref="Surname"/>
			<xs:element ref="Forename"/>
			<xs:element name="AmalgamatedName" type="nameAddressString"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShareHolderType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CorporateName"/>
				<xs:element name="Person">
					<xs:complexType>
						<xs:choice>
							<xs:element name="Name" type="NameType"/>
							<xs:element name="AmalgamatedName">
								<xs:simpleType>
									<xs:restriction base="nameAddressString">
										<xs:maxLength value="160"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="Address" type="ShareholderAddressType">
				<xs:annotation>
					<xs:appinfo>if (ServiceAddressInd NOT equal 0 or ForeignAddress NOT equal 0)
    
    Reject</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalShareCapitalType">
		<xs:sequence>
			<xs:element name="TotalNumberShareIssued" type="xs:integer"/>
			<xs:element name="TotalAggregateNominalValue" type="xs:integer"/>
			<xs:element ref="Currency"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Designation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DIR"/>
				<xs:enumeration value="SEC"/>
				<xs:enumeration value="SOLICITOR"/>
				<xs:enumeration value="ADMINISTRATOR"/>
				<xs:enumeration value="ADMINRECEIVER"/>
				<xs:enumeration value="RECMGR"/>
				<xs:enumeration value="RECEIVER"/>
				<xs:enumeration value="SUBSCRIBER"/>
				<xs:enumeration value="AGENT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="ShareQuantityClassType">
		<xs:sequence>
			<xs:element ref="ShareClass"/>
			<xs:element ref="NumShares"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CapitalType">
		<xs:sequence>
			<xs:element name="TotalNominalValue">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="Currency"/>
			<xs:element ref="ShareValue" minOccurs="0"/>
			<xs:element ref="NumShares" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersCorpAuthType">
		<xs:choice>
			<xs:element name="PersonalDetails" type="PersonalAttributeType" minOccurs="3" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Personal Authentication</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Corporate" type="NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Surname and Forename of an officer of the Corporate company.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DirectorType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CorporateName"/>
				<xs:element name="Person">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PersonBaseType">
								<xs:sequence>
									<xs:element ref="DOB"/>
									<xs:element ref="Nationality"/>
									<xs:element ref="Occupation"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="Address" type="DirectorAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecretaryType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CorporateName"/>
				<xs:element name="Person" type="PersonBaseType"/>
			</xs:choice>
			<xs:element name="Address" type="DirectorAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonAddrType">
		<xs:sequence>
			<xs:element name="Name" type="NameType"/>
			<xs:element name="Address" type="AddressBaseType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FooterDetails">
		<xs:sequence>
			<xs:element ref="Designation"/>
			<xs:element name="DateSigned" type="xs:date"/>
			<xs:element name="ContactAddress" type="AddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Premise">
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Street">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Thoroughfare">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ForeignAddress" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indicates that this is a Foreign Address</xs:documentation>
			<xs:appinfo/>
		</xs:annotation>
	</xs:element>
	<xs:element name="CorporateName">
		<xs:annotation>
			<xs:documentation>Company name</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CareofName">
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="AddressType"/>
	<xs:complexType name="SecretaryAppointmentType">
		<xs:annotation>
			<xs:documentation>A Company Secretary Appointment </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonBaseType">
							<xs:sequence>
								<xs:element name="ServiceAddress" type="ServiceAddressType"/>
								<xs:element name="PreviousNames" type="PreviousNameType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Corporate" type="CorporateOfficerAppointmentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DirectorAppointmentType">
		<xs:annotation>
			<xs:documentation>A Company Director Appointment </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="DirectorPersonType">
							<xs:sequence>
								<xs:element name="ResidentialAddress">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="ResidentialAddressType"/>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Corporate" type="CorporateOfficerAppointmentType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CorporateOfficerAppointmentType">
		<xs:annotation>
			<xs:documentation>A Corporate Officer Appointment </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="NameType">
				<xs:sequence>
					<xs:element ref="CorporateName"/>
					<xs:element name="Address" type="CompanyAddressType"/>
					<xs:element ref="CompanyIdentification"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CorporateOfficerType">
		<xs:annotation>
			<xs:documentation>A Corporate Officer </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="CorporateName"/>
			<xs:element name="Address" type="CompanyAddressType"/>
			<xs:element ref="CompanyIdentification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectorIncorporationAppointmentType">
		<xs:annotation>
			<xs:documentation>A Company Director Appointment </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Address">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="DirectorAddressType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="Person">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PersonBaseType">
								<xs:sequence>
									<xs:element ref="DOB"/>
									<xs:element ref="Nationality"/>
									<xs:element ref="Occupation"/>
									<xs:element name="PreviousName" type="PreviousNameType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Corporate">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="NameType">
								<xs:sequence>
									<xs:element ref="CorporateName"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SubmissionNumber">
		<xs:annotation>
			<xs:documentation>Submission Number for filing</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="otherDataString">
				<xs:minLength value="6"/>
				<xs:maxLength value="6"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CompanyAuthenticationCode">
		<xs:annotation>
			<xs:documentation>Authentication Code of the Company for which the submission relates</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="6"/>
				<xs:maxLength value="6"/>
				<xs:whiteSpace value="preserve"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncorporationAppointmentType">
		<xs:annotation>
			<xs:documentation>Class of appointment at incorporation (dir, sec).</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DIR">
					<xs:annotation>
						<xs:documentation>This appointment is for a Director</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
				<xs:enumeration value="SEC">
					<xs:annotation>
						<xs:documentation>This appointment is for a Secretary</xs:documentation>
					</xs:annotation>
				</xs:enumeration>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="StatementOfCapitalType">
		<xs:sequence>
			<xs:element name="Capital" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TotalNumberOfIssuedShares">
							<xs:simpleType>
								<xs:restriction base="xs:positiveInteger">
									<xs:totalDigits value="18"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ShareCurrency" type="iso3currency"/>
						<xs:element ref="TotalAggregateNominalValue"/>
						<xs:element name="Shares" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ShareClass"/>
									<xs:element name="PrescribedParticulars">
										<xs:annotation>
											<xs:documentation>Description of the rights assoicated with the share class</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<!--xs:restriction base="nonEmptyOtherDataString"-->
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="4000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element ref="NumShares"/>
									<xs:element name="AmountPaidDuePerShare">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="6"/>
												<xs:totalDigits value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AmountUnpaidPerShare">
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="6"/>
												<xs:totalDigits value="15"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="AggregateNominalValue">
										<xs:simpleType>
											<xs:restriction base="positiveDecimal">
												<xs:totalDigits value="19"/>
												<xs:fractionDigits value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentType">
		<xs:sequence>
			<xs:element ref="ShareClass"/>
			<xs:element ref="NumShares"/>
			<xs:element name="AmountPaidDuePerShare">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AmountUnpaidPerShare">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShareCurrency" type="current_iso3currency"/>
			<xs:element ref="ShareValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceAddressType">
		<xs:choice>
			<xs:element name="SameAsRegisteredOffice">
				<xs:annotation>
					<xs:documentation>The address is the same as Registered Office address</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:sequence>
				<xs:element name="Address" type="CompanyAddressType"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ResidentialAddressType">
		<xs:choice>
			<xs:element name="SameAsServiceAddress">
				<xs:annotation>
					<xs:documentation>The address is the same as Service address</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="4"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:sequence>
				<xs:element name="Address" type="AddressBaseType"/>
				<xs:element ref="SecureAddressInd" minOccurs="0"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ShareholderNameType">
		<xs:sequence>
			<xs:element ref="Forename" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Surname"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AmountPaidUp">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AmountUnpaid">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:fractionDigits value="2"/>
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalAggregateNominalValue">
		<xs:simpleType>
			<xs:restriction base="positiveDecimal">
				<xs:totalDigits value="19"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountryOfResidence">
		<xs:annotation>
			<xs:documentation>The country or state of normal residence</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecureAddressInd" type="xs:boolean"/>
	<xs:element name="CompanyIdentification">
		<xs:annotation>
			<xs:documentation>Company Indentification Details</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="NonEEA">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PlaceRegistered" minOccurs="0"/>
							<xs:element ref="RegistrationNumber" minOccurs="0"/>
							<xs:element name="LawGoverned">
								<xs:annotation>
									<xs:documentation>The legal authority supervising the company</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="nonEmptyNameAddressString">
										<xs:minLength value="1"/>
										<xs:maxLength value="50"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="LegalForm">
								<xs:annotation>
									<xs:documentation>The legal form of the company as defined its country of registration</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="nonEmptyOtherDataString">
										<xs:minLength value="1"/>
										<xs:maxLength value="50"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EEA">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PlaceRegistered"/>
							<xs:element ref="RegistrationNumber"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlaceRegistered">
		<xs:annotation>
			<xs:documentation>Where the company is registered</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nonEmptyNameAddressString">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CountryStr">
		<xs:annotation>
			<xs:documentation>Country name as a string, only when CountryCode is Other</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="nameAddressString">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegistrationNumber">
		<xs:simpleType>
			<xs:restriction base="nonEmptyOtherDataString">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RecordType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MEMBER"/>
				<xs:enumeration value="DIR"/>
				<xs:enumeration value="DIRCONTRACT"/>
				<xs:enumeration value="DIRINDEM"/>
				<xs:enumeration value="SEC"/>
				<xs:enumeration value="RESMEET"/>
				<xs:enumeration value="DEB"/>
				<xs:enumeration value="CHARGEEWNI"/>
				<xs:enumeration value="CHARGESC"/>
				<xs:enumeration value="OWNSHRPURCH"/>
				<xs:enumeration value="OWNSHRCAP"/>
				<xs:enumeration value="INVEST"/>
				<xs:enumeration value="INTEREST"/>
				<xs:enumeration value="LLPMEMBERS"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="DirectorPersonType">
		<xs:complexContent>
			<xs:extension base="PersonBaseType">
				<xs:sequence>
					<xs:element name="ServiceAddress" type="ServiceAddressType"/>
					<xs:element ref="DOB"/>
					<xs:element ref="Nationality"/>
					<xs:element ref="Occupation"/>
					<xs:element ref="CountryOfResidence"/>
					<xs:element name="PreviousNames" type="PreviousNameType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DirectorReturnType">
		<xs:annotation>
			<xs:documentation>A Company Director Annual Return </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person" type="DirectorPersonType"/>
			<xs:element name="Corporate" type="CorporateOfficerType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MemberReturnType">
		<xs:annotation>
			<xs:documentation>An LLP Member Type </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DesignatedInd">
				<xs:annotation>
					<xs:documentation>Designated Member Indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="Person">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PersonBaseType">
								<xs:sequence>
									<xs:element name="ServiceAddress" type="ServiceAddressType"/>
									<xs:element ref="DOB"/>
									<xs:element ref="CountryOfResidence"/>
									<xs:element name="PreviousNames" type="PreviousNameType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Corporate" type="CorporateOfficerType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecretaryReturnType">
		<xs:annotation>
			<xs:documentation>A Company Secretary Annual Return </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonBaseType">
							<xs:sequence>
								<xs:element name="ServiceAddress" type="ServiceAddressType"/>
								<xs:element name="PreviousNames" type="PreviousNameType" minOccurs="0" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Corporate" type="CorporateOfficerType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MemberAppointmentType">
		<xs:annotation>
			<xs:documentation>An LLP Member Type </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DesignatedInd">
				<xs:annotation>
					<xs:documentation>Designated Member Indicator</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true"/>
						<xs:enumeration value="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:choice>
				<xs:element name="Person">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="PersonBaseType">
								<xs:sequence>
									<xs:element name="ServiceAddress" type="ServiceAddressType"/>
									<xs:element ref="DOB"/>
									<xs:element ref="CountryOfResidence"/>
									<xs:element name="PreviousNames" type="PreviousNameType" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="ResidentialAddress" type="ResidentialAddressType"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Corporate" type="CorporateOfficerAppointmentType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemberType">
		<xs:annotation>
			<xs:documentation>An LLP Member Type </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Person">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="PersonBaseType">
							<xs:sequence>
								<xs:element name="ServiceAddress" type="ServiceAddressType"/>
								<xs:element ref="DOB"/>
								<xs:element ref="CountryOfResidence"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Corporate" type="CorporateOfficerType"/>
			<xs:element name="DesignatedInd" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicates if the member is designated</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="CompanyCategory">
		<xs:annotation>
			<xs:documentation>The Type of Company</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="160"/>
				<xs:whiteSpace value="preserve"/>
				<xs:enumeration value="PLC"/>
				<xs:enumeration value="BYSHR"/>
				<xs:enumeration value="BYGUAR"/>
				<xs:enumeration value="BYSHREXUNDSEC60"/>
				<xs:enumeration value="BYGUAREXUNDSEC60"/>
				<xs:enumeration value="UNLCWSHRCAP"/>
				<xs:enumeration value="UNLCWOSHRCAP"/>
				<xs:enumeration value="LLP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="SubsidiaryAndAssociatedUndertakingsType">
		<xs:annotation>
			<xs:documentation>List of any Subsidiary and Associated Undertakings</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SubCompanyName">
				<xs:annotation>
					<xs:documentation>Subsidiary or Associated Company Name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="nonEmptyNameAddressString">
						<xs:minLength value="1"/>
						<xs:maxLength value="160"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubCompanyNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Registered Company Number if any</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ShareDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>number, description and amount of shares held</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="otherDataString">
						<xs:maxLength value="50"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Other details about the Subsidiary and Associated Undertakings</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="otherDataString">
						<xs:maxLength value="100"/>
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
